<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><img class="calendar-img" alt="current date"><a href="/">Today</a></li>
                <li><img class="work-img" src="/icons/work-icons/business-bag-svgrepo-com.svg" alt="suitcase"><a href="/work">Work</a></li>
            </ul>
        </nav>
    </header>