<%- include("partials/header.ejs") %>
    <main>
        <div class="container">
            <div id="header">
                <h1>Work List</h1>
            </div>
            <div id="content-body">
                <form action="/work" method="post">
                    <input type="text" name="wTask" placeholder="New Task" class="task-input" required>
                    <input type="submit" value="+" id="button">
                </form>
                <div class="notepad">
                    <% if (locals.wTaskList) { %>
                        <% for( let index = wTaskList.length - 1; index !== -1; index-- ) { %>
                            <div class="list-item">
                                <input type="checkbox" name="checkbox"> <p><%= wTaskList[index] %></p>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
<%- include("partials/footer.ejs") %>